<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="../../js/jquery-3.4.1.min.js" type="text/javascript"></script>
<link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../../css/miLogin.css" rel="stylesheet" type="text/css" />
<link href="../../css/miLayout.css" rel="stylesheet" type="text/css" />
<link href="../../css/font-awesome.min.css" rel="stylesheet"
	type="text/css" />
<script src="../../js/bootstrap.min.js" type="text/javascript"></script>
<title>Crear Nueva Categoria</title>
</head>
<body>


	<nav class="navbar navbar-expand-md navbar-dark bg-dark flex-row">
		<a class="navbar-brand mr-auto" href="/"> <img
			src="../imagenes/idatLogo_1.jpg" class="img-fluid"
			alt="Responsive image">
		</a>
		<ul class="navbar-nav flex-row mr-lg-0">
			<li class="nav-item"><a class="nav-link pr-2"><i
					class="fa fa-search"></i></a></li>
			<li class="nav-item"><a class="nav-link pr-2"><i
					class="fa fa-facebook"></i></a></li>
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle mr-3 mr-lg-0"
				id="navbarDropdownMenuLink" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i><span
					class="caret"></span> </a>
				<div class="dropdown-menu dropdown-menu-right"
					aria-labelledby="navbarDropdownMenuLink">
					<a
						class="dropdown-item" th:href=@{/login}>Salir</a>
				</div></li>
		</ul>
		<button class="navbar-toggler ml-lg-0" type="button"
			data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>
	<nav class="navbar navbar-expand-md navbar-light">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" id="nav-link-custom"
					th:href="@{/bienvenida}">IDAT</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/peliculas/listarTodo}">Peliculas</a></li>
	<li class="nav-item"><a class="nav-link" 
				    th:href="@{/sedes/listarTodo}">Sedes</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/categorias/listarTodo}">Categoria</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/cines/listarTodo}">Cine</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Modulo5</a></li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Buscar">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
			</form>
		</div>
	</nav>

	<section id="seccion1">
			<p>Datos de Nueva Película</p>
			<form th:action="@{/categorias/guardar}"
				th:object="${categoria}" method="post">

				<div class="form-group row">
					<label for="id" class="col-sm-2 col-form-label">ID Categoria:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="id"
							 th:field="*{idCategoria}" readonly="readonly" />
					</div>
				</div>


				<div class="form-group row">
					<label for="codigo" class="col-sm-2 col-form-label">Codigo:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="codigo"
							placeholder="Nombre Codigo" th:field="*{codigo}" />
					</div>
				</div>

				<div class="form-group row">
					<label for="descripcion" class="col-sm-2 col-form-label">Descripcion:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="descripcion"
							placeholder="Descripcion" th:field="*{descripcion}" />
					</div>
				</div>


				<div align="center">
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>


			</form>
	</section>


	
</html>